/* 声明字体图标 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot') format('embedded-opentype'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
* {
    margin: 0;
    padding: 0;
}
.six {
    width: 1350px;
    height: 1950px;
    margin: 0 auto;
}
.six_top {
    width: 1350px;
    position: absolute;
    margin-top: 100px;
    line-height: 35px;
    font-size: 18px;
    height: 800px;
}
.six_top_one{
    height: 300px;
}
.six_top_two{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.box1 
 {width: 280px;
    height: 300px;
    background-color: #001148;
    color: #fff;
    text-align: center;
}
.box2 {
    width: 280px;
    height: 300px;
    background-color: #001148;
    color: #fff;
    text-align: center;
}
.box3{
    width: 280px;
    height: 300px;
    background-color: #001148;
    color: #fff;
    text-align: center;
}
.box4 {
    width: 280px;
    height: 300px;
    background-color: #001148;
    color: #fff;
    text-align: center;

}
.jiantou1::before{
    content: '\e920';
    font-family: 'icomoon';
    font-size: 30px;
}
.jiantou2::before{
    content: '\e920';
    font-family: 'icomoon';
    font-size: 30px;
}
.jiantou3::before{
    content: '\e920';
    font-family: 'icomoon';
    font-size: 30px;
}
._h4{
    position: relative;
    top: 1000px;
}
.five_bottom {
    position: relative;
    top: 1000px;

    width: 1350px;
    height: 800px;

    line-height: 30px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h4 {
    line-height: 35px;
    font-size: 18px;
}

.five_bottom div {
    -moz-box-shadow:0 0 10px 10px #f4f4f4;
    -webkit-box-shadow:0 0 10px 10px #f4f4f4;
    box-shadow:0 0 10px 10px #f4f4f4;
   background-color: #4c587f;
   color: #fff;
    width: 250px;
    height: 800px;

}
.five_bottom .wenben{
    width: 200px;
    height: 700px;
    list-style-type: none;
    margin: 0 auto;
}
._h4::before {
    content: '\e918';
    font-family: 'icomoon';
}